body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 100%;
  margin: 0;
}


.audio-control-icon {
  cursor: pointer;
  text-decoration: none !important;
  margin-right: 5px;
  color: #ffffff; /* Bootstrap primary color */
}

.audio-control-icon:hover {
  color: #ffffff; /* Bootstrap primary color darker shade */
}

.btn-check label:hover::after {
  opacity: 0.3;
}

.dropdown {
  position: relative;
  display: inline-block;
  flex-direction: row;
  /* <--- here add this line */
}

.stav {
  background-color: #333;
  color: rgb(255, 100, 100);
}

.nick {
  background-color: #333;
  color: rgb(100, 100, 255);
}

.adam {
  background-color: #333;
  color: rgb(101, 255, 101);
}

/* img {

  width: 100%;
  height: 100%;
  padding: 0px;
} */

#botImageShare {
  max-width: 200px;

}



#prompt {

  font-size: 1.1em;
  border: #000000;
  /* (A2) COLORS */
  color: #000000;
  background: #ffffff;

  /* (A3) DIMENSIONS + POSITION */
  position: relative;
  padding: 5px;
  /* border-radius: 10px;
  margin: 50px auto; */
  min-width: 200px;
  /* max-width: 500px; */
  text-align: center;
}

.center {
  margin: auto;
  /* width: 50%; */
  border: 3px solid green;
  padding: 10px;
}



/* /* .input-container {
  /* position: fixed; */
/* bottom: 10px; */
/* } */

/* input[type=textarea] {
  height: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
} */

textarea {
  resize: none;
}





.response-container {
  display: none;
}

/* .response-container-fixed {
  position: fixed !important;
  top: 1px !important;
} */

/* .chat-container-fixed {
  position: fixed !important;
  top: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
} */

.input-container {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;

}

/* Provide some space between the input field and the button */
/* input[type="submit"] {
  margin-left: 10px;
} */

.userInput {
  /* width: 100%; */

  /* This is an example value; adjust as needed */
}

.bot-container {
  position: relative;
  width: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* #chat-container {
  
  position: fixed;
  bottom: 40%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  overflow-y: auto; 
} */



.speech {
  /* (A1) FONT */
  font-size: 1.1em;
  z-index: 1;
  /* (A2) COLORS */
  color: #ffffff;
  background: #000000;

  /* (A3) DIMENSIONS + POSITION */
  position: relative;
  padding: 20px !important;
  margin: 0px auto;
  min-width: 200px;
  /* max-width: 500px; */
  text-align: center;

}

/* (B) ADD SPEECH "CALLOUT TAIL" */
/* (B1) USE ::AFTER TO CREATE THE "TAIL" */
.speech::after {
  /* (B1-1) ATTACH TRANSPARENT BORDERS */
  content: "";
  border: 20px solid transparent;

  /* (B1-2) NECESSARY TO POSITION THE "TAIL" */
  position: absolute;
}

/* (B2) BOTTOM "CALLOUT TAIL" */
.bottom.speech::after {
  /* (B2-1) DOWN TRIANGLE */
  border-top-color: #000000;
  border-bottom: 0;

  /* (B2-2) POSITION AT BOTTOM */
  bottom: -19px;
  left: 50%;
  margin-left: -20px;
}

/* (C) DIFFERENT TAIL POSITIONS */
/* (C1) TOP */
.top.speech::after {
  /* (C1-1) UP TRIANGLE */
  border-bottom-color: #ffffff;
  border-top: 0;

  /* (C1-2) POSITION AT TOP */
  top: -20px;
  left: 50%;
  margin-left: -20px;
}

/* (C2) LEFT */
.left.speech::after {
  /* (C2-1) LEFT TRIANGLE */
  border-right-color: #a53d38;
  border-left: 0;

  /* (C2-2) POSITION AT LEFT */
  left: -20px;
  top: 50%;
  margin-top: -20px;
}

/* (C3) RIGHT */
.right.speech::after {
  /* (C3-1) RIGHT TRIANGLE */
  border-left-color: #a53d38;
  border-right: 0;

  /* (C3-2) POSITION AT RIGHT */
  right: -20px;
  top: 50%;
  margin-top: -20px;
}

/* (X) THE REST DOES NOT MATTER - COSMETICS */
/* PAGE & BODY */
* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

/* body {
    display: flex;
    align-items: center; justify-content: center;
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1600172454132-ada7faa101cf?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0NjU0ODA0Mg&ixlib=rb-1.2.1&q=85);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  } */

/* WIDGET */
.widget-wrap {
  max-width: 500px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
}

/* SVG */
#talk {
  width: 100%;
  height: 120px;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 512 512" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 9.8 11.2 15.5 19.1 9.7L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64z" /></svg>');
  background-repeat: no-repeat;
  background-position: center;
}

/* FOOTER */
#code-boxx {
  font-weight: 600;
  margin-top: 30px;
}

#code-boxx a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  background: #b90a0a;
  color: #fff;
}

#shareResponse {
  max-width: 250px;
}

#shareBtn {
  position: fixed;
  top: 0px;
  right: 0px
}


.form-container{
  width: 100%;
}


@keyframes laughAnimation {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.laughing {
  animation: laughAnimation 0.3s ease-in-out infinite;
}

.form-container {
  margin-bottom: 5px;

}

#settingsModal {
  display: none;
  /* Initially hides the modal */
  position: fixed;
  /* Make the modal relatively positioned */
  /* Keeps the modal fixed even if page is scrolled */
  width: 80%;
  margin: 5% auto;
  padding: 20px;
  background-color: #000000;
  border: 1px solid #888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  /* Semi-transparent background */
  z-index: 1;
  /* Ensures the modal stays on top of other content */

}

/* Custom styles for the toggle button with icon */
.form-check-input {
  cursor: pointer;
}

.form-check-input:checked + .form-check-label .fa-volume-up {
  color: green; /* Color when TTS is enabled */
}

.form-check-input:not(:checked) + .form-check-label .fa-volume-up {
  color: grey; /* Color when TTS is disabled */
}

/* Further styling for the switch and icon may be needed */

/* #voice {
  position: absolute;
  top: 1px;
  right: 1px;
} */

/* Modal Content */
#transcript {
  
  position: relative;
  background-color: #000000;
  color: white;
  margin: auto;
  padding: 20px;
  border: 2px solid hsl(0, 0%, 100%);
  width: 100%;
  max-width: 750px;
  height: 50vh;
  max-height: 200vh;
  /* display: flex; */
  /* flex-direction: column-reverse; */
  /* 25% of the viewport height */
  overflow-y: scroll;
  /* Makes it scrollable vertically */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* Close Button */
.close-btn {
  color: #aaa;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 28px;
  font-weight: bold;
}

;

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/* Visual feedback for button press */
.share-button:active {
  background-color: #0056b3;
}

/* Adjustments for smaller screens, if needed */
@media (max-width: 600px) {
  /* .share-button {
      padding: 16px 32px;
      font-size: 18px;
  } */
}

#capture {
  align-items: center;
  position: relative !important;
  max-width: 500px;
  top: -9999px;
}

.bottom-container {
  padding: 50px 0 20px;

  font-family: 'Montserrat', sans-serif;
}

table,
td {
  border: none;
  border-collapse: collapse;
  text-align: center;
  max-width: 500px;

}

.text-with-border {
  max-width: none;
  /* width: auto;
  height: auto; */
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  padding: 20px;
  box-sizing: border-box;
  /* overflow-y: auto; */
  /* Border width, style, and color */
  /* Add some padding around the text (optional) */
}

h1 {
  font-size: 8vw;
}

/* .loading {
  margin: 20px;
  font-size: 36px;
  font-family: sans-serif;
} */

.loading:after {
  display: inline-block;
  animation: dotty steps(1, end) 1s infinite;
  content: '';
}

@keyframes dotty {
  0% {
    content: '';
  }

  25% {
    content: '.';
  }

  50% {
    content: '..';
  }

  75% {
    content: '...';
  }

  100% {
    content: '';
  }
}

/* .responsiveinput {
  display: flex;
  align-items: center;
} */

/* .responsiveinput>* {
  margin-right: 5px;

} */

.collapsible {
  display: none;
  position: fixed;
  bottom: 50% Initially hide the content;
  z-index: 2;
  /* OR */
  /* max-height: 0; 
  overflow: hidden; transition: max-height 0.3s ease-out; */
}

.button-container {
  display: flex;
  align-items: center;
  /* Center items vertically */
  gap: 10px;
  /* Adjust the gap between buttons as needed */
}

/* .responsiveinput {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
} */

/* #chat-container>* {

  margin: 1px 0;
} */

/* #submitAs {
  width: 10%;
}

.input {
  width: 90%;
} */

/* #submitAs,
.userInput {
  display: inline-block;
  width: auto;
  vertical-align: top;
} */

.toggle-button {
  /* position: fixed;
  bottom: 50px;
  right: 0px; */
  /* background: none;
  border: none; */
  /* cursor: pointer; */
  /* font-size: 16px;
  color: #333; */
  /* Subtle color */
}

.progress {
  position: fixed;
  top: 0px; 
}

/* #showFormBtn {
  position: fixed;
  bottom: 30px;
  right: 0px
} */

.links{
position: absolute;
right: 1px;
bottom: 1px;
}
#patreon {
  width: 75px;
}
.links a {
  display: inline-block;  /* Makes the anchor elements inline but also block-level containers */
}

.settings {
  position: relative;
  bottom: 0px;
  right: 0px;
}

#chat-container {
  position: fixed;
  bottom: 25%;
  max-width: 800px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 75vh;
  justify-content: space-between;
  overflow-y: auto;
}

@media (max-height: 750px) {

  /* #prompt {
    position: fixed;
    top: 1px;
  } */

  
  /* .bot-container {
    position: fixed;
    bottom: 16%;
    left: 50%;
    width: 200px;
    transform: translateX(-50%);
  } */
  #chat-container {
    margin: 0 auto;
    position: fixed;
    max-height: 100vh;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }






  /* body {
    display: block;
  } */

}